body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* This was made to make all button links and keep 
the text from Material UI */
button > span.MuiButton-label > a {
  text-decoration: none;
  color: inherit;
}

/* These were added for TextBox outlined in Marteral UI */
/* .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiFormLabel-root {
  color: inherit !important;
} */
